{% extends "base_home.html" %}

{% block account %}
{% if user.is_authenticated %}
<a class="button" href="/characters/player_profile">{{user.username}}</a>
<a class="button" href="/account/Logout">Выход</a>
{% else %}
<a class="button" href="/account/login">Вход</a>
<a class="button" href="/account/register">Регистрация</a>
{% endif %}
{% endblock account %}