{% extends "base_profile_player.html" %}

{% block account %}
{% if user.is_authenticated %}
<a class="button" href="/">{{user.username}}</a>
<a class="button" href="/account/Logout">Выход</a>
{% endif %}
{% endblock account %}

{% block choice_list %}
<a class="character" href="/characters/player_profile/new_character">
    <span class="elem_character" id="number">+</span>
    <span class="elem_character" id="picture">
    
    </span>
    <span class="elem_character" id="nickname">СОЗДАТЬ</span>
    <span class="elem_character" id="role">НОВОГО</span>
    <div class="stats">
        <span class="elem_character" id="rep">ПЕРСОНАЖА </span>
        <span class="elem_character" id="score"></span>
        <span class="elem_character" id="hum"></span>
    </div>    
</a>

{% endblock choice_list %}