{% extends "base_reg_and_login.html" %}
      {% block RegOrLog %}
      <form method="post" action="login" class="login">
        {% csrf_token %}
        <p>
          <label for="login">Логин:</label>
          <input type="text" name="login" id="login" placeholder="Логин">
        </p>

        <p>
          <label for="password">Пароль:</label>
          <input type="password" name="password" id="password" placeholder="Пароль">
        </p>
        <font class='error_input' id="error_login"></font>
        <p class="login-submit">
          <button id="login_site" type=button class="login-button">Войти</button>
        </p>
        <a class="button" href="/account/register">Зарегистрироваться</a>
      </form>
      {% endblock RegOrLog %}