{% extends "base_reg_and_login.html" %}
      

      {% block RegOrLog %}

      
      <form method="post" action="register" class="login">
        {% csrf_token %}
        <p>
          <label for="login_reg">Логин:</label>
          <input type="text"  id="login_reg" name="login" placeholder="Логин">
        </p>
        <font class='error_input'id="check_login" color="green"></font>

        <p>
          <label for="password">Пароль:</label>
          <input type="password" id="password1" name='password1' placeholder="Пароль">
        </p>

        <p>
            <label for="password">Пароль:</label>
            <input type="password" id="password2" name='password2' placeholder="Подтвержение пароля">
        </p>
        <font class='error_input' id="check_pass" color="green"></font>
        {% block error%}
        {% endblock error%}

        <p class="login-submit">
          <button type="submit" class="login-button" >Зарегистрироваться</button>
        </p>
        
      </form>
      {% endblock RegOrLog %}
