body{
    background-color:  #454545;
    color: #fff;
    font-size: 45px;
    font-family: 'Jura', sans-serif;
}

header{
    min-height: 200px;
}

.account{
    background: url(../img/Logo_cyberpunk.png) no-repeat;
    min-height: 120px;
    display: flex;
    justify-content: flex-end;
}
.account a.button{
    background-color: rgba(50, 50, 50, 0.8);
    opacity: 1;
	color:#fff;
	padding: 4px;
	border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    width: 180px;
    height: 50px;
    margin:15px;
}

.account a.button:hover{
	background-color: rgba(222, 222, 222, 0.1);
	color:#fff;
	padding: 4px;
	text-decoration: none;
}


h1{
    font-size: 60px;
    text-align: center;
}

h2{
    padding-left: 50px;
    font-size: 70px;
}

.left-colum a{
    display: block;
    text-decoration: none;
    color:#fff;
    padding: 4px;
    text-align: center;
    margin: 0;
}
.content{
    display: flex;
    
}

.left-colum{
    border: 1px solid yellow;
    position: fixed;
    height: 85%;
    width: 25%;
    margin-right: auto;
    margin-left: 0.3em;
}

.right-colum{
    flex: 0.7;
    margin-left: auto;
    margin-right: 2.5em;
    min-width: 1000px;
    max-width: 1700px;
}

.navigation_link:hover{
    display: block;
    text-decoration: none;
    color:yellow;
    padding: 4px;
    text-align: center;
    margin: 0;
}
