body{
    background-color:  #454545;
    color: #fff;
    font-size: 45px;
    font-family: 'Jura', sans-serif;
}

header{
    min-height: 200px;
}

.account{
    background: url(../img/Logo_cyberpunk.png) no-repeat;
    min-height: 120px;
    display: flex;
    justify-content: flex-end;
}
.account a.button{
    background-color: rgba(50, 50, 50, 0.8);
    opacity: 1;
	color:#fff;
	padding: 4px;
	border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    width: 180px;
    height: 50px;
    margin:15px;
}

.account a.button:hover{
	background-color: rgba(222, 222, 222, 0.1);
	color:#fff;
	padding: 4px;
	text-decoration: none;
}


h1{
    font-size: 40px;
}

h2{
    padding-left: 50px;
    font-size: 100px;
}

a.character{
    border: 2px white solid;
    border-radius: 30px;
    padding: 10px;
    width: 80%;
    height: 200px;
    margin-left: 200px;


	color:#fff;
    display: flex;
    font-size: 45px;

    text-decoration: none;
}

.elem_character{
/*     border: #fff solid 2px;  */
    height: auto;
    min-width: 200px;
}
.stats{
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
}
#number{
    text-align: center;
}
#nickname{
    margin-left: 50px;
    width: 300px;
    text-align: center;
}

#role{
    margin-left: 50px;
    width: 300px;
}

#picture{
    border: 1px solid white;
    background-color: yellow;
    color: black;
}

.character{
    margin: 10px 0 10px 0;
}
