body{
    background-color:  #454545;
    color: #fff;
    font-size: 45px;
    font-family: 'Jura', sans-serif;
}
.wrapper {
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    width: 100%;
}
.wrapper form{
    top: 300px;
    left: center;
    position: fixed;
}

button{
    background-color: rgba(24, 24, 24, 0.5);
    opacity: 1;
	color:#fff;
	padding: 8px;
	border-radius: 40px;
    display: block;
    font-size: 45px;
    border: 0px;
    width: 750px;
}
button:hover{
	background-color: rgba(222, 222, 222, 0.1);
	color:#fff;
	border-radius: 40px;
	text-decoration: none;
}
.button{
    background-color: rgba(24, 24, 24, 0.5);
    opacity: 1;
	color:#fff;
	padding: 8px;
	border-radius: 40px;
    display: block;
    font-size: 45px;
    border: 0px;
    width: 750px;
    text-decoration: none;
    text-align: center;
}
.button:hover{
    background-color: rgba(222, 222, 222, 0.1);
	color:#fff;
	border-radius: 40px;
	text-decoration: none;
}
input{
    font-size: 40px;
    font-family: 'Jura', sans-serif;
    color: #000;
    font-weight: bold;
    padding-bottom: 8px;
    padding-left: 8px;
    background-color: #c6c6c6;
}
label{
    display: inline-block;
    width: 175px;
}
.wrapper {
    min-height: 1800px;
    background-image: url(../img/Cyberpunk.png);
    background-size: cover;
    position: fixed;
}
.error_input {
    font-size: 40px;
}