/* header, .colums, .left_colum, .right_column, .content, .block, .special_abilities, .upgrade{
    border: 1px solid white;
} */

/* .colums, .conteiner, .skills, .first_block, .right_col_stats, .left_col_stats, .special_abilities{
    display: flex;
} */

body{
    background-color:  #454545;
    color: #fff;
    font-size: 45px;
    font-family: 'Jura', sans-serif;
    
}
.account{
    background: url(../img/Logo_cyberpunk.png) no-repeat;
    min-height: 120px;
    display: flex;
    justify-content: flex-end;
}
.account a.button{
    background-color: rgba(50, 50, 50, 0.8);
    opacity: 1;
	color:#fff;
	padding: 4px;
	border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    width: 180px;
    height: 50px;
    margin:15px;
}

.account a.button:hover{
	background-color: rgba(222, 222, 222, 0.1);
	color:#fff;
	padding: 4px;
	text-decoration: none;
}

header{
    min-height: 150px;
    padding: 20px 0px 0px 100px ;
}
footer{
    min-height: 200px;
}

h3{
    font-size: 55px;
    margin-top: 30px;
}
h2{
    font-size: 70px;
}

.text_label{
    display: inline-block;
    width: 500px;
}
.upgrade{
    margin-top: 70px;
    padding: 25px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    background-color: #a4a4a4;
}
.upgrade .text_label{
    width: 400px;
}
.right_col_stats .text_label{
    display: inline-block;
    width: 300px;
}

.text_word_label{
    display: inline-block;
    width: 200px;
}

.colums{
    display:flex;
}

.left_colum{
    flex: 0.2;
}

.content{
    min-height: 1000px;
    flex: 1200px;
}
.conteiner{
    display: flex;
}

.first_block{
    margin: 60px 0px 0px 60px;
    display: flex;
    flex-direction: column;  
}
.first_block :nth-child(2){
    display: flex;
    flex-direction: column;
}
.avatar h3{
    margin-bottom: 3px;
}

.role{
    display: inline-block;
}
.avavtar-img{
    margin-top: 10px;
    border: 20px solid #915151;
    background: #c6c6c6;
    border-radius: 30px;
    height: 500px;
    width: 500px;
}

.block{
    margin-top: 75px;
    padding-left: 10px;
    width: 800px;
    height: 535px;
}

.long_input {
    display: block;
}

.short_input{
    width: 70px;
    height: 30px;
}
.skill_text_input{
    height: 30px;
    width: 350px;
    margin-right: 36px;
}

input, .select_role{
    font-size: 40px;
    font-family: 'Jura', sans-serif;
    color: #000;
    font-weight: bold;
    padding-bottom: 8px;
    padding-left: 8px;
    background-color: #c6c6c6;
}
.select_role:focus option{
    background: rgba(255, 255, 255, 0);

}
.long_input{
    width: 500px;
    height: 40px;
}
.stats{
    display: block;
}
.right_col_stats, .left_col_stats{
    display: flex;
    margin-left: 50px;
}
.right_col_stats{
    flex-direction: column;
    margin-left: 150px;
    
}
.left_col_stats{
    flex-direction: column;
}
.special_abilities{
    display: flex;
    flex-direction: column;
}

.skills{
    margin: 25px; 
}

.right_column_skills, .left_column_skills{
    display: flex;
    flex-direction: column;
}
.right_column_skills{
    margin-left: 100px;
}
.left_column_skills{
    margin-left: 22px;
}

.left_column_skills .text_label, .right_column_skills .text_label{
    width: 600px;
}


td, th{
    border: 1px solid white;
    text-align: center;
}
.cybernetics table tr td .table_long_input{
    width: 1000px;
}
.cybernetics table tr :nth-child(2),
.cybernetics table tr :nth-child(3){
    width: 300px;
}

.cybernetics table tr td .short_input{
    width: 301px;
    text-align: center;
    height: auto;
}
.cybernetics table tr td[colspan="2"] .short_input{
    width: 615px;
    text-align: center;
}
.cybernetics h2{
    margin-left: 20px;
}


.life_events table tr td .year_input{
    width: 200px;
    height: auto;
    text-align: center;
}

.life_events table tr td .table_long_input{
    width: 1200px;
    height: auto;
    text-align: center;
}

.life_events{
    margin-top: 30px;
}
.gear table tr td .table_long_input{
    width: 1000px;
    height: auto;
}
.gear table tr td .short_input{
    width: 150px;
    text-align: center;
}
.gear table tr td .short_input{
    width: 200px;
    height: auto;
    text-align: center;
    
}
.gear{
    margin-top: 30px;
}

.weapon{
    width: 800px;
    margin-top: 30px;
}

.weapon table tr td .short_input{
    height: auto;
    width: 150px;
}
textarea{
    background-color: #c6c6c6;
    width: 1000px;
    height: 500px;
    color: #000;
    font-size: 45px;
    font-family: 'Jura', sans-serif;
}
.lifepath{
    margin-top: 30px;
}
.lifepath label{
    display: flex;
}
.lifepath .text_label{
    width: 250px;
}
.family_background{
    margin-top: 30px;
}
.motivation{
    margin-top: 30px;
}
.motivation label{
    display: flex;
    margin-right: 20px;
}
.motivation .long_input{
    width: 900px;
}
.lifepath .long_input{
    width: 1000px;
}
.siblings{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.siblings .text_label{
    width: 200px;
}

#avatar{
    max-width: 310px;
}

.fixed_button{
    position: fixed;
    bottom: 80%;
    right: 0%;
    display: flex;
    background-color: rgba(255, 255, 255, 0.2);
    border: 0px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    font-size: 23px
}

.fixed_button:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.open_modal {
    position: fixed;
    bottom: 74%;
    right: 0%;
    display: flex;
    background-color: rgba(255, 255, 255, 0.2);
    border: 0px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    font-size: 23px;
}

.open_modal:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.input_avatar {
    display: none;
}

.link_avatar {
    cursor: pointer;
}
