body{
    font-family: 'Jura', sans-serif;
}

.wrapper {
    min-height: 1800px;
    background-image: url(../img/Cyberpunk.png);
    background-size: cover;
}

header{
    min-height: 200px;
}

.account{
    display: flex;
    justify-content: flex-end;
}
.account a.button{
    background-color: rgba(50, 50, 50, 0.8);
    opacity: 1;
	color:#fff;
	padding: 4px;
	border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    width: 180px;
    height: 50px;
    margin: 15px;
}

.account a.button:hover{
	background-color: rgba(222, 222, 222, 0.1);
	color:#fff;
	padding: 4px;
	text-decoration: none;
}

nav{
    display: flex;
	list-style-type: none;
    flex-direction: column;
    align-items: center;
    flex-basis: 1500px;
}
h1{
    font-size: 40px;
    color: #fff;
    font-family: 'Jura', sans-serif;
    font-style: normal;
}
nav a{
    background-color: rgba(50, 50, 50, 0.5);
    opacity: 1;
	color:#fff;
	padding: 4px;
	border-radius: 40px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 60px;
    width: 1000px;
    height: 170px;
    margin:15px;
}

nav a.button:hover{
	background-color: rgba(222, 222, 222, 0.1);
	color:#fff;
	padding: 4px;
	border-radius: 40px;
	text-decoration: none;
    font-size: 70px;
    margin:15px;
}

.colums{
    display: flex;
    justify-content: center;
}

.Left_colum{
    flex-basis: auto;
}

.Right_colum{
    flex-basis: auto;
}
