<!DOCTYPE html>
{% load static %}
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Cyberpunk2020</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/profile_player.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="{% static 'scripts/choice_character.js' %}"></script>

    </head>

    <body>
        <div class="wrapper">
            <header>
                <div class="account">
                {% block account %}
                {% endblock account %}-->
                </div>
                <h2>Выберите персонажа:</h2>
            </header>
                <div class="conteiner">
                    {% block choice_list %}
                    <a class="character" href="/characters/character">
                        <span class="elem_character" id="number">Номер</span>
                        <span class="elem_character" id="picture">Картинка</span>
                        <span class="elem_character" id="nickname">Кликуха</span>
                        <span class="elem_character" id="role">Роль</span>
                        <div class="stats">
                            <span class="elem_character" id="rep">Реп:</span>
                            <span class="elem_character" id="score">Очки улуч:</span>
                            <span class="elem_character" id="hum">Чел</span>
                        </div>    
                    </a>
                    {% endblock choice_list %}
                </div>
            <footer></footer>
        </div>
    </body>
</html>


