<!DOCTYPE html>
{% load static %}
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Cyberpunk2020</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/newbie.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="wrapper">
            <header>
                <div class="account">
                {% block account %}
                {% endblock account %}
                </div>
                {% block content %}
                {% block register_to_login %}
                {% endblock register_to_login %}

                {% block register_enter_login %}
                {% endblock register_enter_login %}

                {% block register_password %}
                {% endblock register_password %}

                {% block logining %}
                {% endblock logining %}

                {% block create_new_character %}
                {% endblock create_new_character %}

                {% block new_character_created %}
                {% endblock new_character_created %}

                {% block character_menu_list %}
                {% endblock character_menu_list %}

                {% block first_seen_character_block %}
                {% endblock first_seen_character_block %}

                {% block character_abilities_list %}
                {% endblock character_abilities_list %}

                {% block character_tables %}
                {% endblock character_tables %}

                {% block text_input_example %}
                {% endblock text_input_example %}

                {% block buttons_on_rigth %}
                {% endblock buttons_on_rigth %}

                {% block button_update_data %}
                {% endblock button_update_data %}

                {% block avatar_window_new %}
                {% endblock avatar_window_new %}

                {% block avatar_upload_correct %}
                {% endblock avatar_upload_correct %}

                {% block avatar_upload_wrong %}
                {% endblock avatar_upload_wrong %}

                {% block button_roll_dices %}
                {% endblock button_roll_dices %}

                {% block roll_dices_window %}
                {% endblock roll_dices_window %}

                {% block roll_dices_result %}
                {% endblock roll_dices_result %}

                {% block roll_abilities_window %}
                {% endblock roll_abilities_window %}

                {% block roll_abilities_result %}
                {% endblock roll_abilities_result %}
                <div class="counteiner"> 
                <h1>Новичек</h1>
                </div>
                {% endblock content %}
            <footer></footer>
        </div>
    </body>
</html>


