<!DOCTYPE html>
{% load static %}
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Cyberpunk2020</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/player.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'scripts/gettable.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/getcharacteristic.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/addstring.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/updatecharacter.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <script type="text/javascript" src="{% static 'scripts/openmodal.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/rollchar_int.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/imgupload.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/rollchar_tech.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/rollchar_reflex.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/rollchar_emp.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/rollchar_cool.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/rollchar_attr.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/rollchar_body.js' %}"></script>
    </head>
    <body>
        <form id="upd_char" action="update_character/{{character.id}}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="wrapper">
            <header>
                <div class="account">
                    {% block account %}
                    {% endblock account %}
                </div>
            </header>
            <div class="colums">
                <div class="left_colum"></div>
                <div class="content">
                    <div class="conteiner">
                        {% block avatar %}
                        {% endblock avatar %}
                        {% block  main_info %}
                        <div class="first_block">
                            
                            <label>Кличка персонажа:<input id="nickname" name="nickname" class="long_input" type="text" value={{character.name}}></label>
                            <label>Роль персонажа:
                                <select name="select_role" class="select_role">
                                        <option id="SOIO">Соло</option>
                                        <option id="ROCKER">Рокер</option>
                                        <option id="NETRUNNER">Нетраннер</option>
                                        <option id="MEDIA">Журналист</option>
                                        <option id="NOMAD">Кочевник</option>
                                        <option id="FIXER">Фиксер</option>
                                        <option id="COP">Коп</option>
                                        <option id="CORP">Человек корпорации</option>
                                        <option id="TECHLE">Техник</option>
                                        <option id="MEDTECHLE">Медтехник</option>
                                </select>
                            </label>
                            
                            <div class="upgrade">
                                <label><span class= "text_label">Репутация:</span><input id="reputation" name="reputation" class="short_input" type="number" value={{character.reputation}} min="0" max="100" step="1"></label>
                                <label><span class= "text_label">Очки улучшения:</span><input id="score_upgrade" name="score_upgrade" class="short_input" type="number" value={{character.score_upgrade}} min="0" max="100" step="1"></label>
                                <label><span class= "text_label">Человечность:</span><input id="Humanity" name="Humanity" class="short_input" type="number" value={{character.Humanity}} min="0" max="100" step="1"></label>
                            </div>
                        </div>  
                        {% endblock main_info %}
                    </div>
                    {% block stats %}
                    <div class="stats">
                        <h2 id="stats_h2">Статы</h2>
                        <div class="conteiner">
                            <div class="left_col_stats">
                                <label><span name="attr" class= "text_label">Привлекательность:</span><input id="attr" name="attr" class="short_input" type="number" value={{character.attr}} min="0" max="100" step="1"></label>
                                <label><span name="intellect" class= "text_label">Интелект:</span><input id="intellect" name="intellect" class="short_input" type="number" value={{character.intellect}} min="0" max="100" step="1" ></label>
                                <label><span name="tech" class= "text_label">Тех. способности:</span><input id="tech" name="tech" class="short_input" type="number" value={{character.tech}} min="0" max="100" step="1"></label>
                                <label><span name="emp" class= "text_label">Эмпатия:</span><input id="emp" name="emp" class="short_input" type="number" value={{character.emp}} min="0" max="100" step="1"></label>
                                <label><span name="reflex" class= "text_label">Рефлексы:</span><input id="reflex" name="reflex" class="short_input" type="number" value={{character.reflex}} min="0" max="100" step="1"></label>
                                <label><span name="cool" class= "text_label">Хладнокровие:</span><input id="cool" name="cool" class="short_input" type="number" value={{character.cool}} min="0" max="100" step="1"></label>
                            </div>
                            <div class="right_col_stats">
                                <label><span name="ma" class= "text_label">Скорость:</span><input id="ma" name="ma" class="short_input" type="number" value={{character.ma}} min="0" max="100" step="1"></label>
                                <label><span name="body" class= "text_label">Тип тела:</span><input id="body" name="body" class="short_input" type="number" value={{character.body}} min="0" max="100" step="1"></label>
                                <label><span name="run" class= "text_label">Бег:</span><input id="run" name="run" class="short_input" type="number" value={{character.run}} min="0" step="1"></label>
                                <label><span name="leap" class= "text_label">Прыжок:</span><input id="leap" name="leap" class="short_input" type="number" value={{character.leap}} min="0" step="1"></label>
                                <label><span name="lift" class= "text_label">Подъем:</span><input id="lift" name="lift" class="short_input" type="number" value={{character.lift}} min="0" step="1"></label>
                                <label><span name="luck" class= "text_label">Удача:</span><input id="luck" name="luck" class="short_input" type="number" value={{character.luck}} min="0" max="100" step="1"></label>
                                
                            </div>
                        </div>
                    </div>
                    {% endblock stats %}

                    {% block skills %}
                    <div class="skills">
                        <h2 id="skills_h2">Умения:</h3>
                        <div class="conteiner">
                            <div class="left_column_skills">
                                <h3 id="special_abilities">Спецвозможности:</h3>
                                <label><span class= "text_label">Авторитет</span><input id="authority" name="authority" class="short_input" type="number" value={{character.authority}} min="0" max="100" step="1"></label>
                                <label><span class= "text_label">Харизматичное лидерство</span><input id="charismatic_leadership" name="charismatic_leadership" class="short_input" type="number" value={{character.charismatic_leadership}} min="0" max="100" step="1"></label>
                                <label><span class= "text_label">Чувство боя</span><input id="battle_sence" name="battle_sence" class="short_input" type="number" value={{character.battle_sence}} min="0" max="100" step="1"></label>
                                <label><span class= "text_label">Правдоподобность</span><input id="credibllity" name="credibllity" class="short_input" type="number" value={{character.credibllity}} min="0" max="100" step="1"></label>
                                <label><span class= "text_label">Семья</span><input id="family" name="family" class="short_input" type="number" value={{character.family}} min="0" max="100" step="1"></label>
                                <label><span class= "text_label">Интерфейс</span><input id="interface" name="interface" class="short_input" type="number" value={{character.interface}} min="0" max="100" step="1"></label>
                                <label><span class= "text_label">Аварийный ремонт</span><input id="emergency_repair" name="emergency_repair" class="short_input" type="number" value={{character.emergency_repair}} min="0" max="100" step="1"></label>
                                <label><span class= "text_label">Медецина</span><input id="medicine" name="medicine" class="short_input" type="number" value={{character.medicine}} min="0" max="100" step="1"></label>
                                <label><span class= "text_label">Ресурсы</span><input id="resources" name="resources" class="short_input" type="number" value={{character.resources}} min="0" max="100" step="1"></label>
                                <label><span class= "text_label">Блат</span><input id="pull" name="pull" class="short_input" type="number" value={{character.pull}} min="0" max="100" step="1"></label>

                                <h3 id="attr">Привлекательность:</h3>
                                <label><span class= "text_label">Внешний вид</span><input id="personal_grooming" name="personal_grooming" class="short_input" type="number" value={{character.personal_grooming}} min="0" max="100" step="1"></label>
                                <label><span class= "text_label">Гардероб и стиль</span><input id="wardrobe_and_style" name="wardrobe_and_style" class="short_input" type="number" value={{character.wardrobe_and_style}} min="0" max="100" step="1"></label>

                                <h3 id="ref">Рефлексы:</h3>
                                <label><span class= "text_label">Лук/Арбалет</span><input id="bow_crossbow" name="bow_crossbow" class="short_input" type="number" value={{character.bow_crossbow}} min="0" max="100" step="1"></label>
                                <label><span class= "text_label">Атлетика</span><input id="athletics" name="athletics" class="short_input" type="number" value={{character.athletics}} min="0" max="100" step="1"></label>
                                <label><span class= "text_label">Борьба</span><input id="fight" name="fight" class="short_input" type="number" value={{character.fight}} min="0" max="100" step="1"></label>
                                <label><span class= "text_label">Танцевать</span><input id="dance" name="dance" class="short_input" type="number" value={{character.dance}} min="0" max="100" step="1"></label>
                                <label><span class= "text_label">Уклонение</span><input id="evasion" name="evasion" class="short_input" type="number" value={{character.evasion}} min="0" max="100" step="1"></label>
                                <label><span class= "text_label">Вождение</span><input id="driving" name="driving" class="short_input" type="number" value={{character.driving}} min="0" max="100" step="1"></label>
                                <label><span class= "text_label">Фехтование</span><input id="fencing" name="fencing" class="short_input" type="number" value={{character.fencing}} min="0" max="100" step="1"></label>
                                <label><span class= "text_label">Пистолет</span><input id="pistol" name="pistol" class="short_input" type="number" value={{character.pistol}} min="0" max="100" step="1"></label>  
                                <label><span class= "text_label">Тяжелое оружие</span><input id="heavy_weapon" name="heavy_weapon" class="short_input" type="number" value={{character.heavy_weapon}} min="0" max="100" step="1"></label>
                                <label><span class= "text_word_label">БИ 1</span><input name="martial_arts_1_name" class="skill_text_input"><input id="martial_arts_1" name="martial_arts_1" class="short_input" type="number" value={{character.martial_arts_1}} min="0" max="100" step="1"></label>
                                <label><span class= "text_word_label">БИ 2</span><input name="martial_arts_2_name" class="skill_text_input"><input id="martial_arts_2" name="martial_arts_2" class="short_input" type="number" value={{character.martial_arts_2}} min="0" max="100" step="1"></label>
                                <label><span class= "text_word_label">БИ 3</span><input name="martial_arts_3_name" class="skill_text_input"><input id="martial_arts_3" name="martial_arts_3" class="short_input" type="number" value={{character.martial_arts_3}} min="0" max="100" step="1"></label>
                                <label><span class= "text_label">Ближний бой</span><input id="melee" name="melee" class="short_input" type="number" value={{character.melee}} min="0" max="100" step="1"></label>
                                <label><span class= "text_label">Управление мотоциклом</span><input id="motorcycle_control" name="motorcycle_control" class="short_input" type="number" value={{character.motorcycle_control}} min="0" max="100" step="1"></label>
                                <label><span class= "text_label">Управление тяж. транспортом</span><input id="transport_management" name="transport_management" class="short_input" type="number" value={{character.transport_management}} min="0" max="100" step="1"></label>
                                <label><span class= "text_label">Пилотирование(вертолет)</span><input id="helicopter_piloting" name="helicopter_piloting" class="short_input" type="number" value={{character.helicopter_piloting}} min="0" max="100" step="1"></label> 
                                <label><span class= "text_label">Пилотирование(Самолет)</span><input id="airplane_piloting" name="airplane_piloting" class="short_input" type="number" value={{character.airplane_piloting}} min="0" max="100" step="1"></label> 
                                <label><span class= "text_label">Пилотирование(Дережабль)</span><input id="airship_piloting" name="airship_piloting" class="short_input" type="number" value={{character.airship_piloting}} min="0" max="100" step="1"></label> 
                                <label><span class= "text_label">Пилот. (AV/Аэродайн)</span><input id="av_aerodine_piloting" name="av_aerodine_piloting" class="short_input" type="number" value={{character.av_aerodine_piloting}} min="0" max="100" step="1"></label>
                                <label><span class= "text_label">Ружье</span><input id="gun" name="gun" class="short_input" type="number" value={{character.gun}} min="0" max="100" step="1"></label>
                                <label><span class= "text_label">Скрытность</span><input id="stealth" name="stealth" class="short_input" type="number" value={{character.stealth}} min="0" max="100" step="1"></label>
                                <label><span class= "text_label">Пистолет-пулемет</span><input id="submachine_gun" name="submachine_gun" class="short_input" type="number" value={{character.submachine_gun}} min="0" max="100" step="1"></label>

                                <h3 id='body'>Тип тела:</h3>
                                <label><span class= "text_label">Выносливость</span><input id="endurance" name="endurance" class="short_input" type="number" value={{character.endurance}} min="0" max="100" step="1"></label>
                                <label><span class= "text_label">Проявление силы</span><input id="demo_strengh" name="demo_strengh" class="short_input" type="number" value={{character.demo_strengh}} min="0" max="100" step="1"></label>
                                <label><span class= "text_label">Плавание</span><input id="swimming" name="swimming" class="short_input" type="number" value={{character.swimming}} min="0" max="100" step="1"></label>

                                <h3 id='empathy'>Эмпатия:</h3>
                                <label><span class= "text_label">Понимание людей</span><input id="human_understanding" name="human_understanding" class="short_input" type="number" value={{character.human_understanding}} min="0" max="100" step="1"></label>
                                <label><span class= "text_label">Интервью</span><input id="interview" name="interview" class="short_input" type="number" value={{character.interview}} min="0" max="100" step="1"></label>
                                <label><span class= "text_label">Лидерство</span><input id="leadership" name="leadership" class="short_input" type="number" value={{character.leadership}} min="0" max="100" step="1"></label>
                                <label><span class= "text_label">Соблазнение</span><input id="seduction" name="seduction" class="short_input" type="number" value={{character.seduction}} min="0" max="100" step="1"></label>
                                <label><span class= "text_label">Хорошие манеры</span><input id="good_manners" name="good_manners" class="short_input" type="number" value={{character.good_manners}} min="0" max="100" step="1"></label>
                                <label><span class= "text_label">Убеждать/заговар. зубы</span><input id="conviction" name="conviction" class="short_input" type="number" value={{character.conviction}} min="0" max="100" step="1"></label>
                                <label><span class= "text_label">Публичные выступления</span><input id="public_performance" name="public_performance" class="short_input" type="number" value={{character.public_performance}} min="0" max="100" step="1"></label>
                            </div>
                            <div class="right_column_skills">
                                <h3 id="int">Интелект:</h3>
                                <label><span class="text_label">Бухгалтерия</span><input id="accounting" name="accounting" class="short_input" type="number" value={{character.accounting}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Антропология</span><input id="anthropology" name="anthropology" class="short_input" type="number" value={{character.anthropology}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Замечать/узнавать</span><input id="awareness_Notice" name="awareness_notice" class="short_input" type="number" value={{character.awareness_notice}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Биология</span><input id="biology" name="biology" class="short_input" type="number" value={{character.biology}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Ботаника</span><input id="botany" name="botany" class="short_input" type="number" value={{character.botany}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Химия</span><input id="chemistry" name="chemistry" class="short_input" type="number" value={{character.chemistry}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Композиция</span><input id="composition" name="composition" class="short_input" type="number" value={{character.composition}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Диагностика болезней</span><input id="diagnose_illness" name="diagnose_illness" class="short_input" type="number" value={{character.diagnose_illness}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Образование и общие знания</span><input id="education_and_Gen_Know" name="education_and_Gen_Know" class="short_input" type="number" value={{character.education_and_Gen_Know}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Эксперт</span><input id="expert" name="expert" class="short_input" type="number" value={{character.expert}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Азартные игры</span><input id="games_of_chance" name="games_of_chance" class="short_input" type="number" value={{character.games_of_chance}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Геология</span><input id="geology" name="geology" class="short_input" type="number" value={{character.geology}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Прятаться/избегать</span><input id="hide_evade" name="hide_evade" class="short_input" type="number" value={{character.hide_evade}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">История</span><input id="history" name="history" class="short_input" type="number" value={{character.history}} min="0" max="100" step="1"></label>

                                <label><span class="text_word_label">Язык 1</span><input name="language_1_name" class="skill_text_input"><input id="language1" name="language_1" class="short_input" type="number" value={{character.attr}} min="0" max="100" step="1"></label>
                                <label><span class="text_word_label">Язык 2</span><input name="language_2_name" class="skill_text_input"><input id="language2" name="language_2" class="short_input" type="number" value={{character.attr}} min="0" max="100" step="1"></label>
                                <label><span class="text_word_label">Язык 3</span><input name="language_3_name" class="skill_text_input"><input id="language3" name="language_3" class="short_input" type="number" value={{character.attr}} min="0" max="100" step="1"></label>

                                <label><span class="text_label">Использование Библиотек</span><input id="use_of_libraries" name="use_of_libraries" class="short_input" type="number" value={{character.use_of_libraries}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Математика</span><input id="mathematics" name="mathematics" class="short_input" type="number" value={{character.mathematics}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Физика</span><input id="physics" name="physics" class="short_input" type="number" value={{character.physics}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Программирование</span><input id="programming" name="programming" class="short_input" type="number" value={{character.programming}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Следить/шпионить</span><input id="tracking" name="tracking" class="short_input" type="number" value={{character.tracking}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Игра на Бирже</span><input id="gambling" name="gambling" class="short_input" type="number" value={{character.gambling}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Знание Сети</span><input id="network_knowledge" name="network_knowledge" class="short_input" type="number" value={{character.network_knowledge}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Преподавание</span><input id="teaching" name="teaching" class="short_input" type="number" value={{character.teaching}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Выживание</span><input id="survival" name="survival" class="short_input" type="number" value={{character.survival}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Зоология</span><input id="zoology" name="zoology" class="short_input" type="number" value={{character.zoology}} min="0" max="100" step="1"></label>
                                
                                <h3 id='cool_wild'>Хладнокровие:</h3>
                                <label><span class="text_label">Допрос</span><input id="interrogation" name="interrogation" class="short_input" type="number" value={{character.interrogation}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Угрожать/запугивать</span><input id="intimidate" name="intimidate" class="short_input" type="number" value={{character.intimidate}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Красноречие</span><input id="oratory" name="oratory" class="short_input" type="number" value={{character.oratory}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Устойчивость к наркоте/пыткам</span><input id="resist_torture_drugs" name="resist_torture_drugs" class="short_input" type="number" value={{character.resist_torture_drugs}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Знание улиц</span><input id="streetwise" name="streetwise" class="short_input" type="number" value={{character.streetwise}} min="0" max="100" step="1"></label>

                                <h3 id="tech">Тех. способности</h3>
                                <label><span class="text_label">Технология(самолет)</span><input id="technology_airplane" name="technology_airplane" class="short_input" type="number" value={{character.technology_airplane}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Технология(AV/Аэродайн)</span><input id="technology_av_aerodine" name="technology_av_aerodine" class="short_input" type="number" value={{character.technology_av_aerodine}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Базовая технология</span><input id="basic_technology" name="basic_technology" class="short_input" type="number" value={{character.basic_technology}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Управление криокамерой</span><input id="cryocamera_control" name="cryocamera_control" class="short_input" type="number" value={{character.cryocamera_control}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Технология(кибердека)</span><input id="technology_cyberdeck" name="technology_cyberdeck" class="short_input" type="number" value={{character.technology_cyberdeck}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Кибертехнология</span><input id="cyber_technology" name="cyber_technology" class="short_input" type="number" value={{character.cyber_technology}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Взрывчатка</span><input id="explosives" name="explosives" class="short_input" type="number" value={{character.explosives}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Маскировка</span><input id="disguise" name="disguise" class="short_input" type="number" value={{character.disguise}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Электроника</span><input id="electronics" name="electronics" class="short_input" type="number" value={{character.electronics}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Электронная безопасность</span><input id="electronic_security" name="electronic_security" class="short_input" type="number" value={{character.electronic_security}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Первая помощь</span><input id="first_aid" name="first_aid" class="short_input" type="number" value={{character.first_aid}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Подделка</span><input id="fake" name="fake" class="short_input" type="number" value={{character.fake}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Технология(Вертолет)</span><input id="technology_helicopter" name="technology_helicopter" class="short_input" type="number" value={{character.technology_helicopter}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Рисование</span><input id="painting" name="painting" class="short_input" type="number" value={{character.painting}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Кино-фотосъемка</span><input id="cinema_photography" name="cinema_photography" class="short_input" type="number" value={{character.cinema_photography}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Фармацевтика</span><input id="pharmaceuticals" name="pharmaceuticals" class="short_input" type="number" value={{character.pharmaceuticals}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Вскрытие замков</span><input id="opening_locks" name="opening_locks" class="short_input" type="number" value={{character.opening_locks}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Кража</span><input id="steal" name="steal" class="short_input" type="number" value={{character.steal}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Игра на инструменте</span><input id="playing_instrument" name="playing_instrument" class="short_input" type="number" value={{character.playing_instrument}} min="0" max="100" step="1"></label>
                                <label><span class="text_label">Технология(Оружие)</span><input id="technology_weapon" name="technology_weapon" class="short_input" type="number" value={{character.technology_weapon}} min="0" max="100" step="1"></label>
                            </div>
                        </div>
                    </div>
                    {% endblock skills %}

                    {% block cybernetics %}
                    <div class="cybernetics">
                        <h2>Кибернетика</h2>
                        <table>
                            <tr>
                                <th id="type">Тип</th>
                                <th id="hl">Потеря человечности</th>
                                <th id="cost">Цена</th>
                            </tr>
                            <tr>
                                <td><input class="table_long_input"></td>
                                <td><input class="short_input" type="number" value={{character.attr}} min="0" max="100" step="1"></td>
                                <td><input class="short_input" type="number" value={{character.attr}} min="0" max="100" step="1"></td>
                            </tr>
                            <tr>
                                <td>Итого потеряно человечности:</td>
                                <td colspan="2"><input class="short_input" type="number" value={{character.attr}} min="0" max="100" step="1" disabled></td>
                            </tr>
                        </table>
                    </div>
                    {% endblock cybernetics %}

                    {% block life_path %}
                    <div class="lifepath">
                        <h2>Стиль</h2> 
                        <label><span class="text_label">Одежда</span><input id="clothes" name="clothes" class="long_input" type="text"></label>
                        <label><span class="text_label">Прическа</span><input id="hairstyle" name="hairstyle" class="long_input" type="text"></label>
                        <label><span class="text_label">Фишка</span><input id="chip" name="chip" class="long_input" type="text"></label>
                        <label><span class="text_label">Язык</span><input id="language" name="language" class="long_input" type="text"></label>
                        <label><span class="text_label">Раса</span><input id="race" name="race" class="long_input" type="text"></label>
                    </div>
                    {% endblock life_path %}

                    {% block family%}
                    <div class="family_background">
                        <h2>Семья</h2>
                        <label><textarea id="family_text"></textarea></label>
                    </div>
                    <div class="siblings">
                        <h2>Братья и сёстры</h2>
                        <label><span class="text_label">Сестер</span><input id="sisters" name="sisters" class="short_input" type="number" value={{character.attr}} min="0" max="100" step="1"></label>
                        <label><span class="text_label">Братьев</span><input id="brothers" name="brothers" class="short_input" type="number" value={{character.attr}} min="0" max="100" step="1"></label>
                    </div>
                    {% endblock family%}

                    {% block motivation %}
                    <div class="motivation">
                        <h2>Мотивация</h2>
                        <label><span class="text_label">Мотивация</span><input id="motivation" name="motivation" class="long_input" type="text"></label>
                        <label><span class="text_label">Черта характера</span><input id="trait" name="trait" class="long_input" type="text"></label>
                        <label><span class="text_label">Ценишь больше всего</span><input id="value_most" name="value_most" class="long_input" type="text"></label>
                        <label><span class="text_label">Отношение к людям</span><input id="attitude_to_people" name="attitude_to_people" class="long_input" type="text"></label>
                        <label><span class="text_label">Значимый предмет</span><input id="significant_subject" name="significant_subject" class="long_input" type="text"></label>

                    </div>
                    {% endblock motivation %}
                    {% block life_events %}
                    <div class="life_events">
                        <h2>События жизни</h2>
                        <p>
                            Одно событие за каждый год после 16-летия
                        </p>
                        <table>
                            <tr>
                                <th>Год</th>
                                <th id="Event">События жизни</th>
                            </tr>
                            <tr>
                                <td><input class="year_input" type="number"></td>
                                <td><input class="table_long_input"></td>
                            </tr>
                            <tr>
                                <td><input class="year_input" type="number"></td>
                                <td><input class="table_long_input"></td>
                            </tr>
                            <tr>
                                <td><input class="year_input" type="number"></td>
                                <td><input class="table_long_input"></td>
                            </tr>
                        </table>
                    </div>
                    {% endblock life_events%}

                    {% block gear%}
                    <div class="gear">
                        <h2>Снаряжение</h2>
                        <table id="gear">
                            <tr>
                                <th id="type">Тип</th>
                                <th id="hl">Цена</th>
                                <th id="cost">Вес</th>
                            </tr>
                            <tr>
                                <td><input class="table_long_input"></td>
                                <td><input class="short_input" type="number" value={{character.attr}} min="0" max="100" step="1"></td>
                                <td><input class="short_input" type="number" value={{character.attr}} min="0" max="100" step="1"></td>
                            </tr>
                            <tr>
                                <td><input class="table_long_input"></td>
                                <td><input class="short_input" type="number" value={{character.attr}} min="0" max="100" step="1"></td>
                                <td><input class="short_input" type="number" value={{character.attr}} min="0" max="100" step="1"></td>
                            </tr>
                            <tr>
                                <td><input class="table_long_input"></td>
                                <td><input class="short_input" type="number" value={{character.attr}} min="0" max="100" step="1"></td>
                                <td><input class="short_input" type="number" value={{character.attr}} min="0" max="100" step="1"></td>
                            </tr>
                        </table>
                    </div>
                    {% endblock gear%}
                    
                    {% block weapon%}
                    <div class="weapon">
                        <h2>Оружие</h2>
                        <table>
                            <tr>
                                <th>Название</th>
                                <th>Тип</th>
                                <th>Точн</th>
                                <th>ВОЗМ. СКРЫТЬ</th>
                                <th>ДОСТ</th>
                                <th>ПОВР</th>
                                <th>КОЛ. З.В ОБОЙМЕ</th>
                                <th>Снар</th>
                                <th>ТЕМП СТРЕЛ</th>
                                <th>НАДЖ</th>
                            </tr>
                            <tr>
                                <td><input class="table_long_input"></td>
                                <td><input name="name_weapon" class="short_input" type="text"></td>
                                <td><input name="type_weapon" class="short_input" type="number" value={{character.attr}} min="0" max="100" step="1"></td>
                                <td><input name="accuracy" class="short_input" type="number" value={{character.attr}} min="0" max="100" step="1"></td>
                                <td><input name="conc" class="short_input" type="number" value={{character.attr}} min="0" max="100" step="1"></td>
                                <td><input name="avall" class="short_input" type="number" value={{character.attr}} min="0" max="100" step="1"></td>
                                <td><input name="dam" class="short_input" type="number" value={{character.attr}} min="0" max="100" step="1"></td>
                                <td><input name="shells" class="short_input" type="number" value={{character.attr}} min="0" max="100" step="1"></td>
                                <td><input name="pace" class="short_input" type="number" value={{character.attr}} min="0" max="100" step="1"></td>  
                                <td><input name="reliability" class="short_input" type="number" value={{character.attr}} min="0" max="100" step="1"></td> 
                            </tr>

                        </table>
                    </div>
                    {% endblock weapon%}

                </div>
                <div class="right_column"></div>
            </div>
            <footer></footer>
        </div>
        </form>
        <button id="open_modal" type=button class="open_modal">Бросить кости</button>
</html>