<!DOCTYPE html>
{% load static %}
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Cyberpunk2020</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="wrapper">
            <header>
                <div class="account">
                {% block account %}

                {% endblock account %}
                </div>
            </header>
                <div class="colums">
                    <div id="Left_colum"></div>
                    <nav>
                        <h1>Кто ты и зачем здесь?</h1>
                        <a class="button" href="newbie">Я новичок. Хочу узнать правила </a>
                        <a class="button" href="/characters/player_profile">Я игрок. Хочу в приключение</a>
                    </nav>
                    
                    <div id="Right_colum"></div>
                </div>
            <footer></footer>
        </div>
    </body>
</html>


