<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8"> 
    <link rel="stylesheet" href="{% static 'css/reglog.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{% static 'scripts/reglog.js' %}"></script>

  </head>
  <body>
    <div class="wrapper">
        {% block RegOrLog %}
        {% endblock RegOrLog %}
    </div>
  </body>
</html>
