{% extends "base_newbie.html" %}

{% block account %}
{% if user.is_authenticated %}
<a class="button" href="/characters/player_profile">{{user.username}}</a>
<a class="button" href="/account/Logout">Выход</a>
{% else %}
<a class="button" href="/account/login">Вход</a>
<a class="button" href="/account/register">Регистрация</a>
{% endif %}
{% endblock account %}

{% block content %}
    <div class="content">
        <div class="left-colum"> 
            <a class="navigation_link" href="#registr_and_login">Регистрация и вход</a>
            <a class="navigation_link" href="#character_select">Выбор персонажей</a>
            <a class="navigation_link" href="#about_char_generation">Генерация персонажей</a>
            <a class="navigation_link" href="#character_description">Описание листа персонажа</a>
            <a class="navigation_link" href="#char_change_update">Изменение и обновление данных</a>
            <a class="navigation_link" href="#avatar_update">Изменение аватара персонажа</a>
            <a class="navigation_link" href="#roll_dices">Бросок костей</a>
            <a class="navigation_link" href="#roll_abilities">Проброс способностей</a>
            <a class="navigation_link" href="#exit_from_site">Завершение работы с сайтом(Выход)</a>
        </div>

        <div class="right-colum">
            <div>
            <h1>Начало работы с сайтом</h1>
            <p>
               Добро пожаловать на наш сайт-ассистент для настольной игры 
               Cyberpunk2020, для того, чтобы пользоваться нашим сайтом, вам необходимо
               зарегистрироваться!
            </p>
            </div>
            <br>
            <div id="registr_and_login">
            <h1>О Регистрации и входе</h1>
            <p>
                Для того чтобы зарегистрироваться на нашем сайте, нажмите на кнопку
                "Регистрация" расположенной в верхнем правом углу.
            </p>
            <p>
            {% block register_to_login %}
            {% load static %}
                <img src="{% static 'img/toregestration_or_login.png' %}" width="500px" height="170px" alt="alter">
            {% endblock register_to_login %}
            </p>
            <br>
            <p>
                Придумайте и введите свой логин в поле "Логин". Учтите, что логин должен быть
                уникальным, иначе вы не сможете зарегистрироваться! Cистема оповестит вас
                если вы ввели уже зарегестрированный логин или если логин свободен.
            </p>
            {% block register_enter_login %}
            {% load static %}
                <img src="{% static 'img/correct_login_input.png' %}" width="500px" height="170px" alt="alter">
                <img src="{% static 'img/uncorrect_login_input.png' %}" width="500px" height="170px" alt="alter">
            {% endblock register_enter_login %}
            <br><br>
            <p>
                Теперь придумайте пароль и введите его в поле. Повторите пароль во втором поле
                - он должен совпасть с первым.
            </p>
            {% block register_password %}
            {% load static %}
                <img src="{% static 'img/register_correct_password.png' %}" width="500px" height="170px" alt="alter">
                <img src="{% static 'img/register_uncorrect_password.png' %}" width="500px" height="170px" alt="alter">
            {% endblock register_password %}
            <br><br>
            <p>
                Когда закончите ввод данных нажмите "Зарегистрироваться". После этого произойдет
                автоматический вход в систему.
            </p>
            <p>
                Если вам нужно войти в систему, воспользуйтесь кнопкой "Вход". Введите свой логин
                и пароль. Учтите, что пользователь уже должен быть зарегестрирован. Авторизирован
                пользователь или нет можно отследить по кнопке в верхнем правом углу.
            </p>
            {% block logining %}
            {% load static %}
                <img src="{% static 'img/uncorrect_loginning.png' %}" width="500px" height="170px" alt="alter">
                <img src="{% static 'img/is_logined.png' %}" width="500px" height="170px" alt="alter">
            {% endblock logining %}
            </div>

            <br><br>

            <div id="character_select">
                <h1>О создании и выборе персонажей</h1>
                <p>
                    После того как вы вошли на сайт, выберите пункт меню "Я игрок. Хочу в приключение".
                </p>
                <p>
                    Выберите "Создать нового персонажа", чтобы создать персонажа.
                </p>
                <br>
                {% block create_new_character %}
                {% load static %}
                    <img src="{% static 'img/select_character.png' %}" width="800px" height="200px" alt="alter">
                {% endblock create_new_character %}
                <br><br>
                <p>
                    Вы увидите страницу примерно следующего содержания:</p>
                {% block new_character_created %}
                {% load static %}
                <img src="{% static 'img/character_main_part.png' %}" width="800px" height="500px" alt="alter">
                {% endblock new_character_created %}
                <br><br>
                <p>
                    Поздравляем! Персонаж был создан. В следующий раз в меню, где вы выбрали создание
                    персонажа вы увидите список уже существующих персонажей и сможете их использовать.
                </p>
                <br>
                {% block character_menu_list %}
                {% load static %}
                <img src="{% static 'img/select_charactermenu.png' %}" width="1000px" height="500px" alt="alter">
                {% endblock character_menu_list %}
            </div>

            <br><br>

            <div id="about_char_generation">
                <h1>О генерации персонажей</h1>
                <p>
                    При создании персонажа у него будут случайным образом выставлены характеристики.
                </p>
            </div>

            <br><br>

            <div id="character_description">
                <h1>Описание листа персонажа</h1>
                <p>
                    Первое что вы увидите в листе персонажа это основная часть персонажа - аватар, статы,
                    кличка, роль, очки улучшений, репутации и человечности.
                </p>
                {% block first_seen_character_block %}
                {% load static %}
                <img src="{% static 'img/character_main_part.png' %}" width="800px" height="500px" alt="alter">
                {% endblock first_seen_character_block %}
                <br>
                <p>
                    Названия полей "Кличка персонажа" и "Роль персонажа" говорят сами за себя. Помимо этого у 
                    персонажа есть очки улучшения, человечность, репутация и разные статы. Такие статы,
                    как "Подъем", "Бег" и "Прыжок" подсчитываются в зависимости от других стат 
                    (Подъем = Тип Тела * 40; Бег = Скорость * 3; Прыжок = скорость * 3 / 4). Также, трудно
                    не заметить окно "Аватар персонажа", о его функционале можно прочитать в соответствующем разделе.
                </p>
                <br>

                <p>Прокрутив ниже вы увидите списки способностей. Способности зависят от определенной
                    характеристики, что можно будет понять по заголовку списка.
                </p>
                {% block character_abilities_list %}
                {% load static %}
                <img src="{% static 'img/abilities_list.png' %}" width="800px" height="500px" alt="alter">
                {% endblock character_abilities_list %}
                <br><br>

                <p>
                    Ниже вы увидите таблицы. Всего таких таблиц у персонажа 4. У них вы можете добавлять
                    строки, путем нажатия на "+".
                </p>
                {% block character_tables %}
                {% load static %}
                <img src="{% static 'img/character_table_example.png' %}" width="1000px" height="270px" alt="alter">
                {% endblock character_tables %}
                <br><br>
                <p>
                    Всего в листе персонажа 4 таблицы: Кибернетика, Снаряжение, События жизни и Оружие.
                    Предназначены они для храения данных о соответствующих элементах.
                </p>
                <br>

                <p>
                    Еще на странице присутствуют текстовые поля, в которых заполняется информация о 
                    стиле, семье и мотивации персонажа.
                </p>
                {% block text_input_example %}
                {% load static %}
                <img src="{% static 'img/text_input_example.png' %}" width="650px" height="280px" alt="alter">
                {% endblock text_input_example %}
                <p>
                    Всего подобных полей 3: Стиль, Семья и Мотивация.
                </p>
                <br>

                <p>
                    Справа можно заметить кнопки "Обновить данные" и Бросить кости". Об их функционале
                    можно прочесть в соответствующих разделах
                </p>
                {% block buttons_on_rigth %}
                {% load static %}
                <img src="{% static 'img/buttons_on_right.png' %}" width="300px" height="200px" alt="alter">
                {% endblock buttons_on_rigth %}
            </div>

            <br><br>

            <div id="char_change_update">
                <h1>Изменение и обновление данных</h1>
                <p>
                    Вы можете изменять значения текстовых полей, строк таблиц, способностей и других
                    полей ввода. Когда вы захотите сохранить изменения, нажмите кнопку обновить данные,
                    которая находится справа. 
                </p>
                {% block button_update_data %}
                {% load static %}
                <img src="{% static 'img/button_update_data.png' %}" width="300px" height="100px" alt="alter">
                {% endblock button_update_data %}
            </div>

            <br><br>

            <div id="avatar_update">
                <h1>Изменение аватара персонажа</h1>
                <p>
                    У только что созданных персонажей по умолчанию стоит стандартный аватар. Чтобы
                    изменить аватар персонажа, кликните по окошку аватара и выберите файл, имеющий
                    расширение .jpeg, объемом не более 3 Мбайт.
                </p>
                {% block avatar_window_new %}
                {% load static %}
                <img src="{% static 'img/avatar_window_new.png' %}" width="500px" height="500px" alt="alter">
                {% endblock avatar_window_new %}
                <p>
                    В случае корректного выбора фото, оно будет загружено на сервер и заменит текущий
                    аватар. Об этом будет свидетельствовать уведомление.
                </p>
                {% block avatar_upload_correct %}
                {% load static %}
                <img src="{% static 'img/avatar_upload_correct.png' %}" width="600px" height="370px" alt="alter">
                {% endblock avatar_upload_correct %}
                <p>
                    Если же вы выбрали неподходящий файл, то аватар не будет обновлен. Об этому будет
                    свидетельствовать уведомление.
                </p>
                {% block avatar_upload_wrong %}
                {% load static %}
                <img src="{% static 'img/avatar_upload_wrong.png' %}" width="600px" height="370px" alt="alter">
                {% endblock avatar_upload_wrong %}
            </div>

            <br><br>

            <div id="roll_dices">
                <h1>Бросок костей</h1>
                <p>Справа вы увидите кнопку Бросить кости</p>
                {% block button_roll_dices %}
                {% load static %}
                <img src="{% static 'img/roll_dices_button.png' %}" width="230px" height="100px" alt="alter">
                {% endblock button_roll_dices %}
                <p>
                    По её нажатию вы откроете окно, в котором увидите следующее.
                </p>
                {% block roll_dices_window %}
                {% load static %}
                <img src="{% static 'img/rolling_dices_window.png' %}" width="450px" height="220px" alt="alter">
                {% endblock roll_dices_window %}
                <br><br>
                <p>
                    В первом поле вы можете выбрать сколько костей хотите кинуть
                    (позволяется от 1 до 10). Во втором поле вы можете выбрать количество
                    граней кубиков (2, 4, 6, 8, 10). Когда определитесь с выбором, нажмите
                    "Кинуть кости" и увидите результат броска.
                </p>
                {% block roll_dices_result %}
                {% load static %}
                <img src="{% static 'img/rolling_dices_result.png' %}" width="450px" height="220px" alt="alter">
                {% endblock roll_dices_result %}
            </div>

            <br><br>

            <div id="roll_abilities">
                <h1>О пробросе способностей</h1>
                <p>
                    Определенные игровые ситуации требуют проброса способностей, это когда
                    нужно кинуть кости и сложить результат с значением стата и значением 
                    способности. Для этого нажмите на характеристику персонажа, от которой
                    зависит способность, которую вы хотите прокинуть. Вы увидите примерно
                    следующее окно.
                </p>
                {% block roll_abilities_window %}
                {% load static %}
                <img src="{% static 'img/rolling_ability_window.png' %}" width="450px" height="220px" alt="alter">
                {% endblock roll_abilities_window %}
                <p>
                    Здесь можно выбрать способность, которую вы хотите прокинуть. Поесле того
                    как вы определились с способностью, нажмите "Кинуть кости" и увидите
                    результат прокидывания.
                </p>
                {% block roll_abilities_result %}
                {% load static %}
                <img src="{% static 'img/rolling_ability_result.png' %}" width="450px" height="230px" alt="alter">
                {% endblock roll_abilities_result %}
            </div>

            <br><br>

            <div id="exit_from_site">
                <h1>Завершение работы с сайтом</h1>
                <p>Если вы захоитите завершить работу с сайтом. Нажмите кнопку выход.
                    Произойдет выход из учетной записи
                </p>
                {% block exit_button %}
                {% load static %}
                <img class="single_image" src="{% static 'img/exit_button.png' %}" width="500px" height="170px" alt="alter">
                {% endblock exit_button %}
            </div>
            <br><br>
        </div>
    </div>
{% endblock content %}

